doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='theme-color', content='#870e54')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title PRPM Lite #{query && `- ${query}`}
        link(rel='icon', type='image/png', href='img/icon.png')
        link(rel='stylesheet', href='style.css')
        link(rel='manifest', href='manifest.json')
    body
        #maindiv
            form
                input(name='perkataan', type='text', spellcheck='false', value=query)
                input(type='submit', value='Cari')

            if (maknaperkataan && maknaperkataan.length > 0)
                each kata in maknaperkataan
                    div
                        if (maknaperkataan.length > 1)
                            - var perkataan = kata.perkataan.match(/(.*)\s(.+)$/i)
                            h2= perkataan[1]
                                sup= perkataan[2]
                        else
                            h2= kata.perkataan
                        
                        span.sebutan= kata.sebutan
                        p= kata.makna
            else if (query)
                p Perkataan "#{query}" tidak ditemui
            else
                p Cari perkataan dari Kamus Dewan Edisi Keempat